USE JJOO;

CREATE TABLE Paises(
IdPais INT NOT NULL PRIMARY KEY IDENTITY(1, 1),
Nombre VARCHAR(200) NOT NULL,
Bandera TEXT NOT NULL,
FechaFundacion date NOT NULL DEFAULT '01-01-2000'
);

CREATE TABLE Deportes(
IdDeporte INT NOT NULL PRIMARY KEY IDENTITY(1, 1),
Nombre VARCHAR(200) NOT NULL,
Foto TEXT NOT NULL
);

CREATE TABLE Deportistas(
IdDeportista INT NOT NULL PRIMARY KEY IDENTITY(1, 1),
Apellido VARCHAR(200) NOT NULL,
Nombre VARCHAR(200) NOT NULL,
FechaNacimiento date NOT NULL DEFAULT '01-01-2000',
Foto TEXT NOT NULL,
IdPais INT NOT NULL FOREIGN KEY REFERENCES Paises(IdPais),
IdDeporte INT NOT NULL FOREIGN KEY REFERENCES Deportes(IdDeporte)
);

INSERT INTO Deportistas(Apellido, Nombre, Foto, IdPais, IdDeporte) VALUES
('Biles', 'Simone', 'https://upload.wikimedia.org/wikipedia/commons/7/74/Simone_Biles_Rio_2016e.jpg', '61', '31')


